/* Navbar.css */

.navbar {
  background-color: #8B4513 !important;
  transition: background-color 0.5s ease;
  border-bottom: 2px solid #ffffff; /* Línea de separación en la parte inferior de la barra de navegación */
}

.navbar-brand {
  color: #ffffff !important;
  font-size: 1.5rem; /* Ajustar el tamaño del texto del enlace de la marca */
  font-weight: bold; /* Hacer la marca más audaz */
  transition: color 0.5s ease;
}

.navbar-brand:hover {
  color: #e74c3c !important;
}

.navbar-nav {
  text-align: center;
}

.navbar-nav a {
  color: #ffffff !important;
  font-weight: bold; /* Hacer los enlaces de navegación más audaces */
  transition: color 0.5s ease;
}

.navbar-nav a:hover {
  color: #e74c3c !important;
}

.form-inline .btn-outline-light {
  border-color: #ffffff; /* Color del borde del botón de búsqueda */
}

.form-inline .btn-outline-light:hover {
  border-color: #e74c3c; /* Cambiar color del borde al pasar el mouse sobre el botón de búsqueda */
}

/* Agregar estilos para el input de búsqueda */
.form-inline .form-control {
  border-color: #ffffff; /* Color del borde del input de búsqueda */
  border-radius: 20px; /* Ajustar la esquina del input de búsqueda */
}

/* Cambiar color del texto dentro del input de búsqueda */
.form-inline .form-control::placeholder {
  color: #000000;
  opacity: 0.7;
}

/* Estilo para el botón de búsqueda */
.form-inline .btn-outline-light .fa-search {
  font-size: 1.2rem;
}

.fixed-top {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fixed-top.scroll-up {
  background-color: #8B4513 !important;
  box-shadow: none;
}
